* {
    margin: 0;
    padding: 0;
}
.main {
    background-color: #6256CA;
    width: 100%;
    height: 200vh;
}
#topbar {
    text-align: center;
}
.content {
    text-align: center;
    position: relative;
    top: 15%;
}
.main img {
    width: 300px;
    height: 1
    00px;
}
.main h1 {
    color: #C1E2A4;
    
}
.main p {
    color: #C1E2A4;
}
#topbar a {
    color: #86D293;
    top: 5px;
    position: fixed;
    font-size: 30px;
}
.main hr {
    position: relative;
    top: 30px;
}
#h2p {
    position: relative;
    top: 60px;
}